/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --black: #000;
    --purple: #6A02F2;
    --purple-shadow: rgba(163, 93, 253, .45);
    --white: #fff;
    --green: #10b31b;
    --d-grey: #4d4e4f;
    --light-grey: #eeebeb;
    --input-grey: #d3d8dd;
    --light-black: #212121;
    --gold: #ffc107;
}

.btn {
    font-size: 1.6rem !important;
}

#image-box {
    max-height: 50rem;
}

.img-sizing {
    height: 20rem;
    max-width: 25rem;
}

.card-width-two {
    width: 25rem;
}

.card-body {
    background-color: var(--light-grey);
}