{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 my-5">
            <div>
                <img src="{{ item.image_one.url }}" alt="{{ item.name }}" id="image-box" class="d-block w-100 my-3">
            </div>
            <div>
                <img src="{{ item.image_one.url }}" alt="{{ item.name }}" class="w-25 ms-5 opacity"
                    onclick="myFunction(this)">
                <img src="{{ item.image_two.url }}" alt="{{ item.name }}" class="w-25 mx-5 opacity"
                    onclick="myFunction(this)">
                <img src="{{ item.image_three.url }}" alt="{{ item.name }}" class="w-25 opacity"
                    onclick="myFunction(this)">
            </div>
        </div>
        <div class="col-12 col-lg-6 my-5">
            <ul class="list-unstyled my-3 ms-5">
                <li>
                    <p><span class="fw-bold">Product name:</span> <br> {{ item.product_name }}</p>
                </li>
                <li>
                    <p><span class="fw-bold">Model: </span> <br> {{ item.product_model }}</p>
                </li>
                <li>
                    <p><span class="fw-bold">Description: </span> <br> {{ item.product_description }}</p>
                </li>
                <li>
                    <p><span class="fw-bold">Price:</span> <br> {{ item.price }}€</p>
                </li>
                {% if item.quantity == 0 %}
                <li>
                    <p class="fw-bold text-danger mt-4">OUT OF STOCK</p>
                </li>
                {% else %}
                <li>
                    <button class="btn btn-success mt-3" type="submit">Add to Basket</button>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function myFunction(smallImg) {
        let fullImg = document.querySelector("#image-box");
        fullImg.src = smallImg.src;
    }
</script>
{% endblock %}