{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 my-5">
            <div>
                <img src="{{ item.image_one.url }}" alt="{{ item.name }}" id="image-box" class="d-block w-100 my-3">
            </div>
            <div>
                <img src="{{ item.image_one.url }}" alt="{{ item.name }}" class="w-25 ms-5 opacity"
                    onclick="myFunction(this)">
                <img src="{{ item.image_two.url }}" alt="{{ item.name }}" class="w-25 mx-5 opacity"
                    onclick="myFunction(this)">
                <img src="{{ item.image_three.url }}" alt="{{ item.name }}" class="w-25 opacity"
                    onclick="myFunction(this)">
            </div>
        </div>
        <div class="col-12 col-lg-6 my-5">
            <ul class="list-unstyled my-3 ms-5">
                <li>
                    <p><span class="fw-bold">Product name:</span> <br> {{ item.product_name }}</p>
                </li>
                <li>
                    <p><span class="fw-bold">Model: </span> <br> {{ item.product_model }}</p>
                </li>
                <li>
                    <p><span class="fw-bold">Description: </span> <br> {{ item.product_description }}</p>
                </li>
                {% if item.sale == True %}
                <li>
                    <p><span class="fw-bold">Price:</span> <br> {{ item.price|mul:0.7|floatformat:2 }}€</p>
                </li>
                {% else %}
                <li>
                    <p><span class="fw-bold">Price:</span> <br> {{ item.price }}€</p>
                </li>
                {% endif %}
                {% if item.quantity == 0 %}

                <li>
                    <p class="fw-bold text-danger mt-4">OUT OF STOCK</p>
                </li>
            </ul>
            {% else %}
            <div class="container" id="padding-form">
                <div class="row">
                    <form action="{% url 'add_to_basket' item.id %}" method="POST" class="mt-1 mb-2">
                        {% csrf_token %}
                        <p class="fw-bold">Quantity:</p>
                        <div class="input-group w-25" id="item-count">
                            <div class="input-group-prepend"><button class="btn">
                                    <i class="fa-solid fa-minus"></i></button></div>
                            <input class="form-control font-sizing" type="number" name="quantity" value="1" min="1"
                                max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                            <div class="input-group-append"><button button class="btn">
                                    <i class="fa-solid fa-plus"></i></button></div>
                        </div>

                        <button class="btn btn-success mt-3" type="submit">Add to Basket</button>
                        <a href="{% url 'all_items' %}" class="btn btn-warning mt-3">Continue shopping</a>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </div>




    {% endif %}


</div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function myFunction(smallImg) {
        let fullImg = document.querySelector("#image-box");
        fullImg.src = smallImg.src;
    }
</script>
{% endblock %}