{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <form method="POST" enctype="multipart/form-data"
                class="d-flex flex-column justify-content-start align-items-start">
                {% csrf_token %}
                {{ items_form }}
                <button type="submit" class="btn btn-primary my-2">Create</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product_name</th>
                        <th scope="col">Product SKU</th>
                        <th scope="col">Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for item in items %}
                        <th><a href="{% url 'item_details' item.id %}">{{ item.product_name }}</a></th>
                        <th>{{ item.sku_number }}</th>
                        <th>
                            <a class="btn btn-success" href="{% url 'edit-item' item.id %}">Edit</a>
                            <a class="btn btn-danger" href="">DELETE</a>
                        </th>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}