{% extends "base.html" %}
{% load static %}

{% block template %}
<div class="container-lg my-5">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="d-flex justify-content-center">Featured</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#"><img src="{% static 'images/pexels-dids-1367036.jpg' %}" class="d-block w-100"
                                alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/pexels-luis-quintero-2263816.jpg' %}" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/pexels-stas-knop-1298601.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/pexels-stas-knop-1298601.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/pexels-dids-1367036.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="d-flex justify-content-center text-danger">
                ON SALE
            </h2>
            <div class="container-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 pb-3">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <a href="#"><img
                                                    src="{% static 'images/pexels-caleb-oquendo-3162044.jpg' %}"
                                                    class="d-block w-100" alt="..."></a>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{% static 'images/pexels-caleb-oquendo-3162044.jpg' %}"
                                                class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{% static 'images/pexels-caleb-oquendo-3162044.jpg' %}"
                                                class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="d-flex justify-content-center pt-3">Games</h2>
                            <div class="col-12">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <a href="#"><img
                                                    src="{% static 'images/pexels-caleb-oquendo-3162044.jpg' %}"
                                                    class="d-block w-100" alt="..."></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-lg">
    <div class="row">
        <div class="col-12">
            <h2 class="d-flex justify-content-center mt-5">Why us?</h2>
            <ul class="text-center style-none pb-2">
                <li class="py-4">We dedicate our time to suit your needs,</li>
                <li class="py-4">Thousands customers satisfied with our service,</li>
                <li class="py-4">Quick deliveries across the country and into Europe.</li>
            </ul>
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/reviews.jpg' %}" alt="reviews" class="reviews">
            </div>
        </div>
    </div>
</div>
<div class="container-lg">
    <div class="row">
        <div class="col-12">
            <h2 class="d-flex justify-content-center mt-5">Sell to us!</h2>
            <p class="d-flex justify-content-center my-5">Here is few steps..</p>
            <div class="d-flex justify-content-center text-center pb-2">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">1.</h5>
                            <p class="card-text">We buy all handhelds and consoles from companies:
                            </p>
                    </div>
                </div>
                <!-- <div class="container-lg">
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div> -->
                <!-- <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">2.</h5>
                            <p class="card-text">Give us a shout in top of the navigation bar.
                            </p>
                    </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">3.</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                    </div>
                </div> -->

                <!-- <li class="py-4">We buy all handhelds and consoles from companies like Retroid, Valve, Anbernic, Miyoo,
                    Asus,
                    Playstation, Microsoft/Xbox and Nintendo.</li>
                <li class="py-4">Give us a shout in top of the navigation bar.</li>
                <li class="py-4">Fill in the Details.</li>
                <li class="py-4">Grade your device.</li>
                <li class="py-4">Accordingly to the grade of the device we think it is we will give you an estimate
                    offer.</li>
                <li class="py-4">You send the device to us and we inspect it, then we pay you the money to your bank
                    account.</li> -->
            </div>
        </div>
        <div class="container-lg">
            <div class="row">
                <div class="col-12 d-flex justify-content-evenly">
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Retroid
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Valve
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Anbernic
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Miyoo
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-evenly">
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Playstation
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Microsoft/Xbox
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Nintendo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-2 mt-5">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">Asus
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center text-center py-5">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">2.</h5>
                        <p class="card-text">We buy all handhelds and consoles from companies:
                        </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}