{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg my-5">

    {% include 'components/carousel-featured.html' %}

</div>
<div class="container-lg">

    {% include 'components/why-us.html' %}

</div>
<div class="container-lg min-vw-100">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center my-5 index-banner">
                <h2 class="pb-2">Checkout our</h2>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <a class="d-flex justify-content-center align-items-center btn text-decoration-none mx-5 banner-btn"
                        href="{% url 'all_items' %}">PRODUCTS</a>
                    <h2 class="my-3">OR</h2>
                    <a class="d-flex justify-content-center align-items-center btn text-decoration-none mx-5 banner-btn"
                        href="{% url 'sale' %}">SALES</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="d-flex justify-content-center mt-5">Sell to us!</h2>
            <p class="d-flex justify-content-center my-5">Here is few steps..</p>
        </div>
        <div class="container-lg">

            {% include 'components/sell-to-us-steps.html' %}

            <div class="col-12">
                <h2 class="d-flex justify-content-center mt-5 text-center">
                    We buy all handhelds and consoles from companies:
                </h2>
            </div>
            <div class="row mb-5">

                {% include 'components/handheld-brands.html' %}

            </div>
        </div>
    </div>
</div>
{% endblock %}