{% extends 'base.html' %}
{% load static%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center my-3">
                <a class="btn btn-warning" href="{% url 'profile' %}">Go back to Account</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email:</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in emails %}
                    <tr>
                        <td>{{ email.news_email }}</td>
                        <td><a class="btn btn-danger" href="{% url 'delete-email' email.id %}">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}