{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center my-3">
                <a class="btn btn-warning" href="{% url 'profile' %}">Go back to User Account</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center my-5">
            <ul class="list-unstyled">
                <li>{{ sell.full_name }}</li>
                <li>{{ sell.email }}</li>
                <li>{{ sell.brand }}</li>
                <li>{{ sell.model }}</li>
                <li>{{ sell.description }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column flex-md-row sell-images justify-content-center align-items-center my-5">
                    <a href="{{ sell.sell_image_one.url }}"><img
                            class="sell-images d-flex flex-column justify-content-center"
                            src="{{ sell.sell_image_one.url }}" alt=""></a>
                    <a href="{{ sell.sell_image_two.url }}"><img
                            class="sell-images d-flex flex-column justify-content-center"
                            src="{{ sell.sell_image_two.url }}" alt=""></a>
                    <a href="{{ sell.sell_image_three.url }}"><img
                            class="sell-images d-flex flex-column justify-content-center"
                            src="{{ sell.sell_image_three.url }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}