/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --black: #000;
    --purple: #6A02F2;
    --purple-shadow: rgba(163, 93, 253, .45);
    --white: #fff;
    --green: #10b31b;
    --d-grey: #4d4e4f;
    --light-grey: #eeebeb;
    --input-grey: #d3d8dd;
    --light-black: #212121;
    --gold: #ffc107;
}

.btn {
    font-size: 1.6rem !important;
}



.card-width {
    width: 18rem;
}

.card-width-twenty {
    width: 20rem;
}

.index-banner {
    background-color: var(--gold);
    height: 20rem;
}

.banner-btn {
    height: 5rem;
    width: 20rem;
    background-color: var(--d-grey);
    color: var(--white);
    font-size: 2rem !important;
}

.btn-sell {
    height: 3.5rem;
    width: 12rem;
    background-color: var(--d-grey);
    color: var(--white);
}

.btn-sell:hover {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 5rem;
    width: 15rem;
    background-color: var(--gold);
    color: var(--black);
    transition: 600ms;
}

.banner-btn:hover {
    background-color: var(--purple);
    color: var(--white);
}

.hover-effect:hover {
    color: var(--white);
    background-color: var(--purple);
    box-shadow: var(--gold) 0px 12px 28px 0px, var(--gold) 0px 2px 4px 0px, var(--gold) 0px 0px 0px 1px inset;
}