{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    {% if basket_items %}
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-5">Your shopping basket!</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col">SKU NO.</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in basket_items %}
                    <tr>
                        <td>{{ item.item.product_name }}</td>
                        <td>{{ item.item.sku_number }}</td>
                        <td>{{ item.item.price }} €</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-3">
        <div class="col d-flex justify-content-end">
            <h2>Total: {{ total|floatformat:2 }} €</h2>
        </div>
        <div class="d-flex justify-content-end text-muted">
            <h5>Deliveries are always free.</h5>
        </div>
        <div class="col d-flex justify-content-end my-5">
            <a href="{% url 'all_items' %}" class="btn btn-warning mx-2">Continue Shopping</a>
            <a href="" class="btn btn-success">Checkout</a>
        </div>
    </div>
    {% else %}
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="mb-5">Your shopping basket.</h2>
        <hr class="w-100">
        <h3 class="my-5 text-muted">Your basket is empty.</h3>
        <hr class="w-100">
        <div class="col d-flex justify-content-end my-5">
            <a href="{% url 'all_items' %}" class="btn btn-warning mx-2">Continue Shopping</a>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}