{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    {% if basket_items %}
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-5">Your shopping basket!</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col">SKU NO.</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in basket_items %}
                    <tr>
                        <td>{{ item.item.product_name }}</td>
                        <td>{{ item.item.sku_number }}</td>
                        <td>{{ item.item.price }} €</td>
                        <td>
                            <div class="container padding-form">
                                <div class="row d-flex flex-row justify-content-center sm-update-remove">
                                    <form action=" {% url 'update_basket' item.item_id %}" method="POST"
                                        class="update-form m-auto d-flex justify-content-center item-count-basket">
                                        {% csrf_token %}
                                        <div class="plus-minus input-group input-group-{{ item.item_id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn decrement-qty_{{ item.item_id }}"
                                                    data-item_id="{{ item.item_id }}">
                                                    <i class="fa-solid fa-minus"></i></button>
                                            </div>
                                            <input
                                                class="sm-button form-control font-sizing qty_input id_qty_{{ item.item_id  }}"
                                                type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                                max="99" data-item_id="{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn increment-qty_{{ item.item_id  }}"
                                                    data-item_id="{{ item.item_id }}"><i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-basket btn btn-secondary w-25 sm-button">Update</a>
                                    <a class="remove-item btn btn-danger w-25 sm-button"
                                        id="remove_{{ item.item_id }}">Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-3">
        <div class="col d-flex justify-content-end">
            <h2>Total: {{ total|floatformat:2 }} €</h2>
        </div>
        <div class="d-flex justify-content-end text-muted">
            <h5>Deliveries are always free.</h5>
        </div>
        <div class="col d-flex justify-content-end my-5">
            <a href="{% url 'all_items' %}" class="btn btn-warning mx-2">Continue Shopping</a>
            <a href="" class="btn btn-success">Checkout</a>
        </div>
    </div>
    {% else %}
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="mb-5">Your shopping basket.</h2>
        <hr class="w-100">
        <h3 class="my-5 text-muted">Your basket is empty.</h3>
        <hr class="w-100">
        <div class="col d-flex justify-content-end my-5">
            <a href="{% url 'all_items' %}" class="btn btn-warning mx-2">Continue Shopping</a>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}

{% include 'components/increment-decrement.html' %}

<script type="text/javascript">
    $('.update-basket').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/basket/remove/${itemId}`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>


{% endblock %}