{% load static %}

{% for item in items %}
<div class="col-12 col-md-3 col-sm-6 d-flex d-flex justify-content-center align-items-center ">
    <div class="card mt-5 card-width-two">
        {% if 'placeholder' in item.image.url %}
        <a href="{% url 'item_details' item.id %}"><img src="{% static 'images/placeholder.png' %}"
                class="card-img-top img-sizing" alt="placeholder"></a>
        {% else %}
        <a href="{% url 'item_details' item.id %}"><img src="{{ item.image_one.url }}" class="card-img-top img-sizing"
                alt="{{ item.name }}"></a>
        {% endif %}
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h3 class="card-title text-primary">{{ item.product_name }}</h3>
            <p class="mt-2">{{ item.category.frontend_name }}</p>
            {% if item.sale %}
            <p class="fw-bold m-0 mt-3">Price:</p>
            <p>€
                <span class="text-decoration-line-through text-danger m-0">
                    {{ item.original_price|floatformat:2 }}
                </span>
                <span class="text-success fw-bold">{{ item.price|floatformat:2 }}</span> </p>
            {% else %}
            <p class="fw-bold m-0 mt-3">Price:</p>
            <p> € {{ item.price }}</p>
            {% endif %}
            {% if item.quantity == 0 %}
            <p class="fw-bold text-danger">OUT OF STOCK</p>
            {% else %}
            <a class="btn btn-primary" href="{% url 'item_details' item.id %}">Go to product</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}