{% load static %}

<div class="col mx-auto www" id="sorting-right">
    <select class="form-select" id="sort-selector" aria-label="sorting">
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by:
        </option>
        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
        </option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to
            low)
        </option>
        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
        </option>
        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
        </option>
    </select>
</div>