* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --black: #000;
    --purple: #A35DFD;
    --purple-shadow: rgba(163, 93, 253, .45);
    --white: #fff;
    --green: #10b31b;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.logo {
    margin: 1rem 0 0 1rem;
    font-size: 5rem;
    line-height: 1;
}

.login-register {
    margin: 1rem 0 0 0;
    font-size: 5rem;
    line-height: 1;
}

#slogan {
    margin-left: 1.3rem;
    font-size: 1.3rem;
}

#purple {
    color: var(--purple);
}

#horizontal {
    height: 1px;
}

.style-none {
    list-style-type: none;
}

/* bootstrap override */
.nav-link {
    color: var(--black);
    font-size: 1.8rem;
}

.dropdown-menu {
    font-size: 1.8rem;
    border: none;
}

.input-group-lg>.btn,
.input-group-lg>.form-control {
    font-size: 1.8rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--purple-shadow);
}

.border-dark {
    border-radius: 0.3rem;
}

.border-dark:hover {
    border-color: var(--white) !important;

}

.basket {
    font-size: 4rem;
    padding-right: 2rem;
}