{% load static %}

<div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
    <div class="text-center pb-2 mt-5">
        <div class="card text-center card-width border-0">
            <div class="card-body">
                <img src="{% static 'images/retroid.jpg' %}" alt="Retroid logo">
                <p class="card-text">
                    Retroid
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
    <div class="text-center pb-2 mt-5">
        <div class="card text-center card-width border-0">
            <div class="card-body">
                <img src="{% static 'images/anbernic.webp' %}" alt="Anbernic logo">
                <p class="card-text">
                    Anbernic
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
    <div class="text-center pb-2 mt-5">
        <div class="card text-center card-width border-0">
            <div class="card-body">
                <img src="{% static 'images/miyoo.png' %}" alt="Miyoo logo">
                <p class="card-text">
                    Miyoo
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
    <div class="text-center pb-2 mt-5">
        <div class="card text-center card-width border-0 ">
            <div class="card-body">
                <img src="{% static 'images/valve.png' %}" alt="Valve logo">
                <p class="card-text">
                    Valve
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
        <div class="text-center pb-2 mt-5">
            <div class="card text-center card-width border-0">
                <div class="card-body">
                    <img src="{% static 'images/playstation1.png' %}" alt="Playstation logo">
                    <p class="card-text">
                        Playstation
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
        <div class="text-center pb-2 mt-5">
            <div class="card text-center card-width border-0">
                <div class="card-body">
                    <img src="{% static 'images/xbox.png' %}" alt="Xbox logo">
                    <p class="card-text">
                        Microsoft/Xbox
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
        <div class="text-center pb-2 mt-5">
            <div class="card text-center card-width border-0">
                <div class="card-body">
                    <img src="{% static 'images/nintendo.png' %}" alt="Nintendo logo">
                    <p class="card-text">
                        Nintendo
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-md-flex justify-content-evenly sm-sell-to-us">
        <div class="text-center pb-2 mt-5">
            <div class="card text-center card-width border-0">
                <div class="card-body">
                    <img src="{% static 'images/asus.png' %}" alt="Asus logo">
                    <p class="card-text">
                        Asus
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>