{% load static %}
<div class="row">
    <div class="col-12">
        <h2 class="d-flex justify-content-center mt-5">Why us?</h2>
        <ul class="text-center style-none pb-2">
            <li class="py-4">We dedicate our time to suit your needs,</li>
            <li class="py-4">Thousands customers satisfied with our service,</li>
            <li class="py-4">Quick deliveries across the country and into Europe.</li>
        </ul>
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/reviews.jpg' %}" alt="reviews" class="reviews">
        </div>
    </div>
</div>