{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/head.html' %}

    <!-- My own css-->
    {% block corecss %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}

    <!-- My Own extra css-->
    {% block extra_css %}
    {% endblock %}

    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column vh-100">
    <!-- Navbar -->
    {% include 'layout/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- Bootstrap JS-->
    {% include 'components/bootstrapjs.html' %}
    {% include 'components/jquerycdn.html' %}

    {% block extra_js %}
    {% endblock %}

    <!-- Footer -->
    {% include 'layout/footer.html' %}
</body>

</html>