{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/head.html' %}

    <!-- My own css-->
    {% block corecss %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    <!-- My Own extra css-->
    {% block extra_css %}
    {% endblock %}

    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column">
    <!-- Navbar -->
    {% include 'layout/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'layout/footer.html' %}

    <!-- Bootstrap JS-->
    {% include 'components/script/bootstrapjs.html' %}
    {% include 'components/script/jquerycdn.html' %}

    <!-- Stripe JS -->
    {% include 'components/script/stripejs.html' %}

    <!-- JS for auto closing messages-->
    {% include 'components/script/auto-close-script.html' %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>