/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --purple: #A35DFD;
    --purple-shadow: rgba(163, 93, 253, .45);
    --grey-shadow: rgba(77, 78, 79, .5);
    --light-grey: #212529;
    --black: #000;
}

/* Double reset for Stripe */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
}

.StripeElement {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid var(--light-grey);
    border-radius: 0.25rem;
    background-color: white;
    width: 100%;
    color: #212529;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    background-clip: padding-box;
}

.StripeElement--focus {
    border-color: var(--purple);
    -webkit-box-shadow: 0 0 0 0.25rem var(--purple-shadow) !important;
    box-shadow: 0 0 0 0.25rem var(--purple-shadow) !important;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-styling {
    font-size: 1.6rem;
}

.btn {
    font-size: 1.6rem !important;
}

#load-spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--grey-shadow);
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
    z-index: 99999;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

#spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    width: 7rem;
    height: 7rem;
}

/* Media queries */

@media (max-width: 990px) {
    #checkout-payment {
        width: 100% !important;
    }
}