<footer id="footer">
    <div class="container-lg">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 sm-media-footer">
                <ul class="style-none pt-5">
                    <li class="foot-hover">
                        <a href="https://www.Github.com" target="_blank" rel="noopener"
                            class="text-decoration-none text-white" aria-label="find us on Github">GitHub <i
                                class="fa-brands fa-github"></i></a>
                    </li>
                    <li class="foot-hover">
                        <a href="https://www.linkedin.com" target="_blank" rel="noopener"
                            class="text-decoration-none text-white" aria-label="find us on Linkedin">LinkedIn <i
                                class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="foot-hover">
                        <a href="https://www.facebook.com" target="_blank" rel="noopener"
                            class="text-decoration-none text-white" aria-label=" find us on Facebook">Facebook <i
                                class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 sm-media-footer">
                <ul class="style-none pt-5">
                    <li class="foot-hover">
                        <a href="{% url 'faq' %}" class="text-decoration-none fw-bolder text-white">FAQ<i
                                class="fa-solid fa-question fw-bolder"></i></a>
                    </li>
                    <li class="foot-hover">
                        <a href="{% url 'tracking' %}" class="text-decoration-none text-white">Track your order</a>
                    </li>
                    <li class="foot-hover">
                        <a href="{% url 'terms-conditions' %}" class="text-decoration-none text-white">Terms &
                            Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 sm-media-footer">
                <h4 class="text-white pt-5">Subscribe to newsletter about new products and much more!</h4>
                <form class="d-flex py-2 sm-media-subs" method="POST">
                    {% csrf_token %}
                    {{ newsletter_form|crispy }}
                    <button class="btn btn-outline-success subscribe white-bg" id="news"
                        type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>