{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="RetroTech shop, selling and buying handheld devices and consoles">
<meta name="keywords" content="RetroTech, shop, handheld, devices, retroid, asus rog ally, playstation, xbox, switch, sell device to us, 
                               steam deck, console, console accesories, handheld accesories">
<!-- Favicons -->

<!-- FontAwesome -->

<!-- Bootstrap CSS-->

<!-- My Own CSS-->
{% block css %}

{% endblock %}

{% block extra_css %}
{% endblock %}

<title>{{ title }}</title>