{% load static %}

<header>
    <div class="container-lg md-lg-device">
        <div class="row">
            <div class="col-4">
                <a class="text-decoration-none" href="{% url 'home' %}">
                    <h1 class="logo">Retro<span class="purple">Tech</span></h1>
                    <p class="text-muted slogan">"Old but <span class="text-warning">Gold</span>"</p>
                </a>

            </div>
            <div class="col-4">
                <form action="{% url 'all_items' %}" method="GET">
                    <div class="input-group input-group-lg mt-5">
                        <input type="text" class="form-control" placeholder="Search" name="q" aria-label="Search"
                            aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col-4">
                <div class=" container">
                    <div class="row">
                        <div class="col">
                            <ul class="style-none login-register d-flex flex-row justify-content-end">
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a class="text-decoration-none nav-link pe-1" aria-label="User Account"
                                        href="{% url 'profile' %}">
                                        <i class="fa-solid fa-user basket d-flex justify-content-center">
                                        </i> Account</a>
                                </li>
                                <li>
                                    <a class="text-decoration-none nav-link pe-1" aria-label="Logout"
                                        href="{% url 'account_logout' %}">
                                        <i class="fa-solid fa-right-from-bracket basket d-flex justify-content-center">
                                        </i> Logout</a>
                                </li>
                                {% else %}
                                <li>
                                    <a class="text-decoration-none nav-link" aria-label="Login to account"
                                        href="{% url 'account_login' %}">
                                        <i class="fa-solid fa-right-to-bracket basket d-flex justify-content-center">
                                        </i> Login</a>
                                </li>
                                <li>
                                    <a class="text-decoration-none nav-link" aria-label="Signup"
                                        href="{% url 'account_signup' %}">
                                        <i class="fa-solid fa-user-plus basket d-flex justify-content-center">
                                        </i> Sign up</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="text-decoration-none nav-link" aria-label="Basket"
                                        href="{% url 'view_basket' %}">
                                        <i class="fa-solid fa-basket-shopping basket d-flex justify-content-center">
                                        </i>
                                        {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        Basket
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg md-lg-device">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Home page" href="{% url 'home' %}">
                            <i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
                            aria-expanded="false">Products</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" aria-label="Handheld devices"
                                    href="{% url 'all_items' %}">All</a>
                            </li>
                            <li>
                                <a class="dropdown-item" aria-label="Handheld devices"
                                    href="{% url 'all_items'%}?category=handheld">Handheld</a>
                            </li>
                            <li>
                                <a class="dropdown-item" aria-label="Consoles"
                                    href="{% url 'all_items'%}?category=console">Console</a>
                            </li>
                            <li>
                                <a class="dropdown-item" aria-label="Accessories"
                                    href="{% url 'all_items'%}?category=accessories">Accessories</a>
                            </li>
                            <li>
                                <a class="dropdown-item" aria-label="Games coming soon" href="{% url 'games' %}">
                                    Games **Soon**</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Sell to us" href="{% url 'sell_to_us' %}">
                            <i class="fa-solid fa-comments-dollar"></i> Sell to us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger fw-bolder" aria-label="Sale" href="{% url 'sale' %}">
                            <i class="fa-solid fa-dollar-sign"></i> SALE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Track your order" href="{% url 'tracking' %}">
                            <i class="fa-solid fa-truck"></i> Track your order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Frequently asked questions" href="{% url 'faq' %}">
                            <i class="fa-solid fa-question"></i> FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sm-device">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex flex-column">
                    <a class="text-decoration-none" href="{% url 'home' %}">
                        <p class="logo-sm fs-1">Retro<span class="purple">Tech</span></p>
                        <p class="text-muted slogan">"Old but <span class="text-warning">Gold</span>"</p>
                    </a>

                </div>
                <div class="nav-item">
                    <a class="ps-2 mt-2 text-decoration-none nav-link" aria-label="Basket"
                        href="{% url 'view_basket' %}">
                        <i class="fa-solid fa-basket-shopping"></i>
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        Basket
                        {% endif %}
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4 justify-content-center d-flex flex-column">
                <ul class="nav justify-content-center d-flex flex-column align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Home page" href="{% url 'home' %}"><i
                                class="fa-solid fa-house"></i> Home</a>
                    </li>
                </ul>
                <nav class="navbar navbar-light bg-light justify-content-center">
                    <div class="container-fluid d-flex justify-content-center align-items-center">
                        <button class="navbar-toggler dropdown-toggle" id="sm-toggler-products" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent1"
                            aria-controls="navbarToggleExternalContent1" aria-expanded="false"
                            aria-label="Toggle navigation">
                            Products
                        </button>
                    </div>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent1">
                    <div class="bg-light p-4">
                        <ul class="style-none text-dark d-flex flex-column align-items-center p-0 m-0">
                            <li>
                                <a class="text-decoration-none text-dark nav-link" aria-label="Handheld devices"
                                    href="{% url 'all_items' %}">All</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark nav-link" aria-label="Handheld devices"
                                    href="{% url 'all_items'%}?category=handheld">Handheld</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark nav-link" aria-label="Consoles"
                                    href="{% url 'all_items'%}?category=console">Console</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark nav-link" aria-label="Accessories"
                                    href="{% url 'all_items'%}?category=accessories">Accessories</a>
                            </li>
                            <li>
                                <a class="text-decoration-none text-dark nav-link" aria-label="Games coming soon"
                                    href="{% url 'games' %}">Games **Soon**</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="nav justify-content-center d-flex flex-column align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-danger fw-bolder" aria-label="Sale" href="{% url 'sale' %}">
                            <i class="fa-solid fa-dollar-sign"></i> SALE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Sell to us" href="{% url 'sell_to_us' %}">
                            <i class="fa-solid fa-comments-dollar"></i> Sell to us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Track your order" href="{% url 'tracking' %}">
                            <i class="fa-solid fa-truck"></i> Track your order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-label="Frequently asked questions" href="{% url 'faq' %}">
                            <i class="fa-solid fa-question"></i> FAQ</a>
                    </li>
                </ul>
                <hr>
                <ul class="style-none me-3 pe-3 login-register d-flex flex-column align-items-center">
                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="text-decoration-none nav-link" aria-label="User Account" href="{% url 'profile' %}">
                            <i class="fa-solid fa-user"></i> Account</a>
                    </li>
                    <li>
                        <a class="text-decoration-none nav-link" aria-label="Logout" href="{% url 'account_logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="text-decoration-none nav-link" aria-label="Login to account"
                            href="{% url 'account_login' %}">
                            <i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                    <li>
                        <a class="text-decoration-none nav-link" aria-label="Signup" href="{% url 'account_signup' %}">
                            <i class="fa-solid fa-user-plus"></i> Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <form action="{% url 'all_items' %}" method="GET">
            <div class="input-group input-group-lg d-flex flex-column mt-4">
                <div class="d-flex flex-row">
                    <input type="text" class="form-control" name="q" placeholder="Search" aria-label="Search"
                        aria-describedby="button-addon3">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon3"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</header>